<link rel="stylesheet" type="text/css" href="../../public/css/menu.css">
<script type="text/javascript" src='../../public/js/menu.js'></script>
<div class="menu-container">
	<div class="drag-bar"></div>
	<div class='menu'>
		<div class="minimize"><i class="cross far fa-window-minimize"></i></div>
		<div class="close">
			<i class=" cross right far fa-window-minimize"></i>
			<i class=" cross left far fa-window-minimize"></i>
		</div>
	</div>
	
</div>