
<link rel="stylesheet" type="text/css" href="../../public/css/navbar.css">
<script type="text/javascript" src='../../public/js/navbar.js'></script>
<nav class="navbar-container">
	<div class="nav-elem nav-logo"><div id="wihype-link">WIHYPE</div></div>
	<div class="nav-elem nav-social">
		<div>SOCIAL</div>
		<ul>
			<li class="remove-elem">
				<div id="facebook-link">Facebook</div>
			</li>
			<li  class="remove-elem">
				<div id="instagram-link">Instagram</div>
				
			</li >
			<li  class="remove-elem">
				<div id="twitter-link">Twitter</div>
			</li>
		</ul>
	</div>
	<div class="nav-elem nav-ocr">
		<div id="ocr-link">OCR</div>
	</div>
	<div class="nav-elem nav-settings">
		<div>SETTINGS</div>
		<ul>
			<li class="remove-elem">
				<div id="profiles-link">Profiles</div>
			</li>
			<li  class="remove-elem">
				<div id="jobs-link">Jobs</div>
			</li >
			<li  class="remove-elem">
				<div id="proxys-link">Proxys</div>
			</li>
		</ul>
	</div>
	<div class="nav-menu-button"><i class="fas fa-ellipsis-h"></i></div>
</nav>