<link rel="stylesheet" type="text/css" href="../../public/css/placeholder.css">
<script type="text/javascript" src='../../public/js/placeholder.js'></script>
<div class="placeholder">
	<div class="center">

		<div class="title">
			<h1><strong>wihype</strong></h1>
		</div>
		<div class="button">
			<span>CONTINUE</span> <i class="fas fa-arrow-right"></i>
			<div class="background">
				
			</div>
		</div>
	</div>
</div>