.alert-container{
	position: absolute;
	top: 0;
	right: 0;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alert{
	width: 30%;
	height: 100%;
	background: red;
	position: relative;
	left: 0%;
	top: 0%;
	opacity: 0;
	z-index: 2;
	border-radius: 10px;
	background: #333333;
	transition: top 1s, opacity 1s;
	color: white;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
	text-align: center;
}

.alert.inview{
	top: 20%;
	opacity: 1;
	z-index: 4;
}

.alert-close{
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
	width: 5%;
	height: 20%;
}
