#adv-banner-top, #adv-banner-bottom{
	height: 90px;
	width: 728px;
	position: absolute;
	background: white;
	transform: translateX(-50%);
}

#adv-banner-top{
	top: 6%;
	left: 50%;
}

#adv-banner-bottom{
	top: 88%;
	left: 50%;
}

#adv-banner-right{
	position: absolute;
	background: white;
	height: 600px;
	width: 120px;
	top: 17%;
	left: 90%;
	transform: translateX(-50%);
}

.banner{
	cursor: pointer;
	z-index: 3;
}

.banner img{
	width: 100%;
	height: 100%;
}