.body-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
	background-color: black;
}

.body-container .title{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: rgb(90, 186, 255);
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
}