
.body-container .title{
	left: 50%;
}
.tasks-menu{
	width: 80%;
	height: 80%;
	position: relative;
	margin-left: auto;
	color: white;
	opacity: 0;
	top: 7%;
	left: -25%;
	transition: all 1s;

	--top: 5%;

	--width: 900px;
	--height: 450px;
}

.body-position-fixed{
	opacity: 1;
	left: -5%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none; 
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.tasks-container{
	width: var(--width);
	height: var(--height);
	background: #1e1e1e;
	border-radius: 10px;
	padding: 1rem;
	position: relative;
	top: var(--top);
}

.tasks{
	width: var(--width);
	height: var(--height);
	border-radius: 10px;
	overflow: auto;
	overflow-x: hidden;
	padding-top: 1rem;

}

.task-title{
	width: var(--width);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	text-align: center;
	font-weight: 800;
	margin-bottom: 1rem;
	position: relative;
	top: var(--top);
}

.tasks .task{
	position: relative;
	display: flex;
	flex-direction: row;
	left: 0;
	width: 98%;
	transition: left 1s;

	--height: 55px;
	--height-fixed: 65px;
}

.tasks .task:hover{
	background: #282828;
}

.tasks .task:hover .task-more{
	background: #282828;
}

.task.visible{
	left: -94%;
}

.tasks .task .task-overview{
	width: 100%;
	display: grid;
	left: 0;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: var(--height);
	grid-column-gap: 2rem;
	justify-content: center;
	text-align: center;
	transition: all 1s;
	flex-shrink: 0;
}

.task-overview div{
	padding-top: 1.6rem;
}


.tasks .task .task-more{
	position: relative;
	width: 98%;
	margin: auto;
	overflow-y: auto;
	height: var(--height-fixed);
	flex-shrink: 0;
	display: grid;
	align-items: center;
	justify-content: center;
	overflow-y: visible;
	text-align: center;
	padding-bottom: 0.5rem;
}

.no-wrap{
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
}

.tasks .task .task-more .item-infos{
	display: grid;
	position: relative;
	left: 0;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: var(--height-fixed);
	grid-column-gap: 2rem;
	justify-content: center;
	text-align: center;
	transition: all 1s;
	margin-bottom: 1rem;
}

#create-job{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 30% !important;
	height: 12%;
	font-size: 1.2rem;
	border: 2px solid rgb(90,186,255);

}

#create-job div.background{
	background: linear-gradient(90deg, rgba(90,186,255,1) 35%, rgba(0,255,160,1) 100%);
}

#create-job span{
	width: 100%;
}

#create-job:hover{
	border-color: white;
}

#create-job:hover span{
	color: black;

}

.id{
	padding: 0 !important;
	justify-content: center;
	align-self: center;
	display: flex;
	position: relative;
	
}

.id .id-value{
	margin-left: 1rem;
}
.id .action{
	position: absolute;
	top: 50%;
	left: 20%;
	display: none;
}

.task-overview .actions{
	display: flex;
	margin-left: 1rem;
	position: relative;
	font-size: 0.8rem;
}

.task-overview .action{
	padding: 0;
	cursor: pointer;
	margin-left: 0.8rem;
	overflow: visible;
}

.action.run{
	color: #5ea36a;
	position: absolute;
	left: 10%;
	top: 20%;
}

.action.stop{
	color: white;
	position: absolute;
	left: 25%;
	bottom: -10%;
}

.action.captcha{
	color: #8963ba;
	position: absolute;
	left: -10%;
	bottom: -10%;
}

.action.remove{
	color: red;
}

.action.more{
	font-size: 1rem;
	position: absolute;
	left: 70%;
	top: 55%;
	transform: translateY(-50%);
}

.action.more i{

	transition: all 0.5s;
}

.rotate{
	transform: rotate(180deg);
}

.action.edit{
	color: #fdca6f;
}

.action.copy{
	color: #087e8b;
}

.buttons{
	width: calc(var(--width) + 100px);
	height: 50px;
	position: relative;
	left: -3%;
	top: var(--top);
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	margin-top: 1rem;
}

.button{
	width: 90% !important;
	margin: auto;
	height: 100%;
	font-size: 0.8rem;
	text-align: center;
	border: none;
}

.normal-buttons{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.dangerous-buttons{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}