<%include ../partials/header.ejs%>
	<link rel="stylesheet" type="text/css" href="../../public/css/body-container.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/buttons.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/tasks-menu.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/tooltip.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/banners.css">
	<script type="text/javascript" src='../../public/js/run_kill_ocr.js'></script>
	<script type="text/javascript" src='../../public/js/tasks-menu.js'></script>
	<script type="text/javascript" src='../../public/js/open_links.js'></script>
	<script type="text/javascript" src='../../public/js/run.js'></script>
	<title>wihype</title>
</head>
<body>

	<%include ../partials/placeholder.ejs%>
	<div class="body body-inview tasks-menu-container body-container">
		<%include ../partials/navbar.ejs%>
		<%include ../partials/menu.ejs%>
		<%include ../partials/alert.ejs%>

		<div class="title">
			<strong>Jobs Menu</strong>
		</div>

		<!--
		<div id="adv-banner-top" class="banner" data-link="https://www.google.com">
	
			<img src="https://wpadvancedads.com/wp-content/uploads/2015/08/728x90.png">

		</div>

		<div id="adv-banner-bottom" class="banner">
			
		</div>

		<div id="adv-banner-right" class="banner">
			
		</div>
		-->


		<div class="tasks-menu">
			<div class="task-title">
				<div class="id">
					<div class="id-value">ID</div>
				</div>
				<div class="type">
					TYPE
				</div>
				<div class="profile">
					PROFILE
				</div>
				<div class="item">
					ITEM
				</div>
				<div class="status">
					STATUS
				</div>
				<div class="actions">
					ACTIONS
				</div>
			</div>
			<div class="tasks-container">
				<div class="tasks">
					
				</div>
			</div>

			<div class="buttons">
				<div class="normal-buttons">
					<div class="button submit">
						<span>JOB <i class="fas fa-plus"></i></span>
						<div class="background"></div>
					</div>
					<div class="button edit">
						<span>EDIT <i class="fas fa-edit"></i></span>
						<div class="background"></div>
					</div>
					<div class="button delete">
						<span>DEL <i class="fas fa-trash"></i></span>
						<div class="background"></div>
					</div>
					<div class="button copy">
						<span>COPY <i class="far fa-clone"></i></span>
						<div class="background"></div>
					</div>
				</div>

				<div class="dangerous-buttons">
					<div class="button delete-all">
						<span>DEL ALL <i class="fas fa-trash"></i></span>
						<div class="background"></div>
					</div>

					<div class="button copy-all">
						<span>COPY ALL <i class="far fa-clone"></i></span>
						<div class="background"></div>
					</div>

					<div class="button run-all">
						<span>RUN ALL <i class="fas fa-play"></i></span>
						<div class="background"></div>
					</div>
					

					<div class="button captcha-all">
						<span>CAPTCHA TEST ALL <i class="fas fa-robot"></i></span>
						<div class="background"></div>
					</div>

					<div class="button stop-all">
						<span>STOP ALL <i class="fas fa-square"></i></span>
						<div class="background"></div>
					</div>

					
				</div>
			</div>
		</div>

		

		

	</div>
<%include ../partials/footer.ejs%>

